:root.theme-light {
  --text-color: #353430;
  --text-secondary: #FFC2E6;
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --card-bg: #fff1f7;
  --decor-color: #353430;
  --title-decor-bg: #ff8dcb;
  --title-decor-color: #353430;
  --link-shadow: #ff8dcb;
  --bg-image: url('../images/cover-image-light.png');
  --button-hover-border: rgba(50, 49, 45, 0.4);
  --text-shadow: 4px 4px 0 var(--title-decor-bg);
  --footer-text-shadow: 2px 2px 0 #FF8DCB;
}

.theme-light {
  background-size: cover;           
  background-position: center;      
  background-repeat: no-repeat;     
  background-attachment: fixed;     
  background-color: var(--bg-color, #fff1f7);   
}

.theme-light .header__decoration {
  display: none;
}

.theme-light .header__title {
  text-shadow: var(--text-shadow);
}

.theme-light .footer__text {
  text-shadow: var(--footer-text-shadow);
}

.theme-light .card__link {
  color: var(--text-color, #353430);
  text-shadow: 1px 1px 0 var(--link-shadow, #FF8DCB);
}

.card__link:focus {
  border: 1px solid #353430;
}

.card__link:focus-visible {
  outline: 1px solid #353430;
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after {
  border-color: var(--decor-color);
}

.theme-light .header__theme-menu-button {
  color: var(--text-color, #353430);
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--button-hover-border);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-block-end-color: var(--decor-color);
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--decor-color);
}

.theme-light .title-decor {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --card-bg: #fff1f7;
    --decor-color: #353430;
    --title-decor-bg: #ff8dcb;
    --title-decor-color: #353430;
    --link-shadow: #ff8dcb;
    --bg-image: url('../images/cover-image-light.png');
    --button-hover-border: rgba(50, 49, 45, 0.4);
    --text-shadow: 4px 4px 0 var(--title-decor-bg);
    --footer-text-shadow: 2px 2px 0 var(--title-decor-bg);
  }
}